/* news letter*/
.newsLetterBanner{
    width: 600px;
    height: 60px; /*60*/
    position: absolute;
    bottom: 150px;
    left: 10%;
    z-index: 10;
    position: relative;

}

.newsLetterBanner .newsLetterBanner-input{
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 30px;
    border: 0px;
    outline: none !important;
    padding-left: 70px;
    padding-right: 200px;
    font-size: 18px;

}

.newsLetterBanner .newsLetterBanner-input::placeholder{
    font-size: 18px;
}

.newsLetterBanner button{
    padding: 10px 40px !important;
    border-radius: 30px !important;
    /*color: #fff !important;*/
    color: #000 !important;
    position: absolute;
    top: 0px;
    right: 0px; 
    height: 60px !important;
    background: #FFD700 ;
    font-size: 18px !important;
    text-transform: capitalize !important;
    font-weight: 400 !important;
}

.newsLetterBanner button:hover{
    background: #ffeb86;
}

.newsLetterBanner svg{
    position: absolute;
    top: 15px;
    left: 30px;
    z-index: 10;
    font-size: 25px !important;
    transform: rotate(-30deg);
    opacity: 0.5;
}


