.catSliderSection{
    width: 100%;
    height: auto;
    /*padding: 30px 0px;*/
}

.cat_slider_main .slick-slide{
    padding-right: 20px !important;

}

.cat_slider_main .item{
    height: auto; /*150p*/
    /*background: #ccc;*/
   /* background: #F4F6FA;*/
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 15px 0px;
    
    
}

.cat_slider_main .item .info{
    height: 150px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px ;
    transition: all 0.3s ease-in-out;
    position: relative;
    border-radius: 4px;
}

.cat_slider_main .item .info img{
    height: 60px;
    width: 60px;

}

.cat_slider_main .item .info h5{
    font-weight: 500 !important;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    
}

.cat_slider_main .item .info p{
    font-size: 14px;
    opacity: 0.8;
    color: #000;
    margin-bottom: 0px;
}

.cat_slider_main .slick-arrow{
    zoom: 80%;
}

.cat_slider_main .slick-arrow.slick-next{
    top: -50px !important;
    right: 15px !important;
}

.cat_slider_main .slick-arrow.slick-prev{
    top: -50px !important;
    right: 80px !important;
    left: inherit !important;
}

.cat_slider_main .item:hover .info{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16),0px 3px 6px rgba(0, 0, 0, 0.23) ;
    transform: scale(1.1);
}