.delivery-navbar {
    height: 60px;
    border-bottom: 0.5px solid rgb(231, 228, 228);
    display: flex;
    align-items: center;
    font-size: 16px;
    color: black;
}

.delivery-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    width: 100%;
}

.delivery-search {
    display: flex;
    align-items: center;
    border: 0.5px solid lightgray;
    padding: 3px 5px;
    border-radius: 4px;
    width: 300px;
}

::placeholder {
    font-size: 14px; 
}

.delivery-search .delivery-search-input {
    border: none;
    outline: none;
    background: transparent;
    padding: 2px;
    width: 100%;
}

.delivery-search svg{
    margin-left: auto;
    opacity: 0.7;
}

.delivery-navbar-items {
    display: flex;
    align-items: center;
}

.delivery-navbar-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
    position: relative;
}

.delivery-navbar-item:hover {
    cursor: pointer;
}

.delivery-notif-counter {
    width: 16px;
    height: 16px;
    background-color: #FFD700;
    border-radius: 50%;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    position: absolute;
    top: -5px;
    right: -5px;
}