@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.dashboard-container {
  display: flex;
}

.content-container {
  flex: 1 !important;
  padding: 20px !important;
  padding-left: 280px !important;
  margin-left: 20px;
}

.header-icons {
  position: absolute;
  top: 25px;
  right: 20px;
  display: flex;
  width: 20px; 
  height: 20px; 
}

.header-icons > .icon-wrapper {
  background-color: #cfcaca;
  border-radius: 70%;
  padding: 5px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px !important; 
  height: 20px; 
}

.header-icons > .icon-wrapper > svg {
  color: rgb(37, 37, 37);
  font-size: 12px;
}

.dashboard-heading {
  margin-bottom: 40px;
}

.dashboard-heading .welcome {
  font-size: 20px;
  font-weight: bold;
}

.dashboard-heading h1,
.dashboard-heading h2 {
  margin: 0;
  font-size: 20px;
  font-weight: bold !important;
}

.dashboard-heading h4 {
  margin-top: 5px;
  font-size: 14px;
  margin-bottom: 40px;
  color: #646262;
}

.setup-guide-container {
  background-color: #edebeb !important;

  padding: 20px;
  border-radius: 10px;
  width: 1150px !important;
  
}

.setup-guide-container h2 {
  margin-top: 0;
  font-size: 17px;
  font-weight: bold !important;
}

.setup-steps {
  margin-top: 20px;
}

.setup-step {
  margin-bottom: 20px;
}

.step-info {
  display: flex;
  align-items: center;
}

.step-info h3 {
  margin: 10px 0 0 0;
  font-size: 16px;
  font-weight: bold !important;
}

.step-info p {
  font-size: 14px;
}

.progress-circle {
  width: 20px;
  height: 20px;
  border: 2px dotted #868484;
  border-radius: 50%;
  margin-right: 20px;
}

.progress-filled {
  border-color: #030f3b;
  background-color: transparent;
}

.setup-guide-container p{
  font-size:14px;
}
.step-info p {
  margin: 0;
  font-size: 14px;
}
.step-info h3{
  margin: 0;
  
} 

.button-container {
  display: flex;
  align-items: center;
  margin-left: 50px;
}


.import-button {
  background-color: #f2ca00 !important;
  color: rgb(0, 0, 0) !important;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
}

.add-product-button{
  background: linear-gradient(to right, #f2ca00, #fff9c4) !important;

  color: rgb(0, 0, 0) !important;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer; 
}
.add-product-button svg,
.import-button svg {
  margin-right: 5px;
}

.button-spacing {
  margin-left: 10px;
}

.add-product-button,
.import-button {
  font-size: 12px;
}

.sdsearch-bar {
  display: flex;
  margin-bottom: 20px;
  width: 500px;
  margin-right: 800px;
}

.search-bar-container {
  position: relative;
  width: 100%;
}

.search-bar-container input {
  width: 100%;
  padding: 8px 20px 8px 50px !important; 
  border-radius: 20px !important;
  border: 1px solid #e5e5e5 !important;
  box-sizing: border-box; 
}

.sdsearch-icon {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  font-size: 12px; 
  color: #969696;
}